<footer class="p-3 mt-auto text-center"><a href="https://github.com/wojkr/sweetApp">&copy;sweet<span
            style="color:red">App</span></a> <span class="text-muted">by <a
            href="https://github.com/wojkr">wojKr</a></span></footer>