<% layout('./layouts/boilerplate') -%>
    <main class="d-flex flex-column flex-strech align-items-center justify-content-center h-100 hidden hidden-top">
        <a href="/desserts">
            <h1 id="header-biggest" class="fw-light">Hello<% if(user){%>
                    <%= user.username %>!
                        <%} %>
            </h1>
            <h2 class="fs-5 ">
                Indulge in the sweetness of pudding perfection with SweetApp - browse, try, and rate the best desserts today!
        </a>
        </h2>
        <a class="mt-3 btn btn-lg btn-outline-dark fw-light" href="/desserts" role="button">Check it out!</a>
    </main>